<div>
<mat-toolbar class="bg">
    <span class="font-white">Innovation Portal</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <div class="font-white">
        <span >Administration</span>&nbsp;&nbsp;&nbsp;&nbsp;

        <i class="material-icons pt1">home</i> &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="material-icons pt1">desktop_windows</i> &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="material-icons pt1">photo_library</i> &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="material-icons pt1">mail</i> &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="material-icons pt1">notifications_none</i> &nbsp;&nbsp;&nbsp;&nbsp;

    </div>
    <!-- <i class="material-icons">account_circle</i> -->
    <i class="material-icons">person</i>
</mat-toolbar>


<div class="bottomLine">
    <mat-toolbar style="background-color: white" >
        <div class="fillSpace">

            <!-- <form >
                <mat-form-field class="w-75 ">
                  <input type="search" matInput >
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field> 
            </form> -->

            <mat-form-field appearance="outline" class="w-75 " color="primary">
                <mat-label>Search</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>refresh</mat-icon>
            </mat-form-field>

            <!-- <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="material-icons">search</i></button>
                </span>
            </div> -->
                
        </div>
        <!-- <span class="fillSpace"></span> -->

        <div>
            &nbsp;&nbsp;&nbsp;&nbsp; <button mat-stroked-button><mat-icon class="pr4" style="color: blue">phone</mat-icon> Option 1</button>
            &nbsp;&nbsp;&nbsp;&nbsp; <button mat-stroked-button><mat-icon class="pr4" style="color: green">mood</mat-icon> Option 2</button>
            &nbsp;&nbsp;&nbsp;&nbsp; <button mat-stroked-button><mat-icon class="pr4" style="color: indigo">access_time</mat-icon>Option 3</button>
            &nbsp;&nbsp;&nbsp;&nbsp; <button mat-stroked-button><mat-icon class="pr4" style="color: violet">cast</mat-icon>Option 4</button>
        </div>
    </mat-toolbar>
</div>
</div>