<div class="mh1" style="padding-top: 5px ">
        <button mat-stroked-button style="background-color: orange; color: white">
                <mat-icon class="pr1">phone</mat-icon> Studio
        </button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-stroked-button style="background-color: cadetblue;color: white">
                <mat-icon class="pr1">mood</mat-icon> Workbench
        </button>


        <mat-card  class="mat-card" style="margin-bottom: 10px; margin-top: 10px;">
                <mat-card-header  class="mat-card-header">
                        <div  class="example-header-image mat-card-avatar" mat-card-avatar="">
                                <img alt="profile pic" class="profile-pic" src="../../assets/a1564a1088e178656161ccbd2fcf4ea9.svg">
                        </div>
                        <div class="mat-card-header-text">
                                <mat-card-title  class="account-login-name mat-card-title"></mat-card-title>
                                <mat-card-subtitle  class="mat-card-subtitle">
                                        <span class="account-login-designation" style="color: aliceblue">Business Analyst</span><br  >
                                </mat-card-subtitle>
                        </div>
                </mat-card-header>
                <mat-card-footer  class="mat-card-footer"> </mat-card-footer>
        </mat-card>


        <mat-card  class="whats-new-top-card mat-card" style="margin-bottom: 10px;">
                <p class="whats-new">WHAT'S NEW?</p>
        </mat-card>

        <div style="margin-top:10%">
                <mat-chip-list aria-label="Fish selection">
                        <mat-chip>NLP</mat-chip>
                        <mat-chip>Risk</mat-chip>
                        <mat-chip>K-means</mat-chip>
                </mat-chip-list>
                <mat-chip-list aria-label="Fish selection">
                        <mat-chip>Sales</mat-chip>
                        <mat-chip>Cybersecurity</mat-chip>
                </mat-chip-list>
                <mat-chip-list aria-label="Fish selection">
                        <mat-chip>Industrial</mat-chip>
                        <mat-chip>Chat Bot</mat-chip>
                </mat-chip-list>
                <mat-chip-list aria-label="Fish selection">
                        <mat-chip>Security</mat-chip>
                        <mat-chip>Medical</mat-chip>
                        <mat-chip>Sales</mat-chip>
                </mat-chip-list>
        </div>

</div>