<div>
    <div>
        <app-header></app-header>
    </div>

    <mat-drawer-container class="example-container">
        <mat-drawer  mode="side"  opened>
            <div>
                <button mat-icon-button><mat-icon class="pr1" style="color: blue">phone</mat-icon> </button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: green">mood</mat-icon> </button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: indigo">access_time</mat-icon></button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: violet ">cast</mat-icon></button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: blue">phone</mat-icon> </button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: green">mood</mat-icon> </button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: indigo">access_time</mat-icon></button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: violet ">cast</mat-icon></button>
            </div>
        </mat-drawer>

        <mat-drawer-content>
            <div class="row pv1 ph1">
                <div class="col-xs-6 ">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Page</a></li>
                        <li class="active">Sample</li>
                    </ol>

                    <h2>Titile Titile</h2>
                    <p>Overview : 

                            ENESA is a unique solution build by EY which uses Natural Language Processing (NLP) to interpret 
                            the query, which is then automatically classified, tagged and allocated in a BPM/Ticketing system. 
                            ENESA sends acknowledgement, filters spam and auto resolves cases that doesn’t require human judgement.
                    </p>
                    <h3>Description</h3>
                    <p>Description : 

                            ENESA is a unique solution build by EY which uses Natural Language Processing (NLP) to interpret 
                            the query,.
                    </p>

                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                          <a href="#" class="thumbnail">
                            <img src="../../../assets/Bot.png" alt="...">
                          </a>
                        </div>

                        <div class="col-xs-6 col-md-3">
                          <a href="#" class="thumbnail">
                            <img src="../../../assets/Bot.png" alt="...">
                          </a>
                        </div>

                        <div class="col-xs-6 col-md-3">
                          <a href="#" class="thumbnail">
                            <img src="../../../assets/Bot.png" alt="...">
                          </a>
                        </div>

                        <div class="col-xs-6 col-md-3">
                          <a href="#" class="thumbnail">
                            <img src="../../../assets/Bot.png" alt="...">
                          </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                          <a href="#" class="thumbnail">
                            <img src="../../../assets/DummySc1.jpg" alt="...">
                          </a>
                        </div>

                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img src="../../../assets/DummySc1.jpg" alt="...">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                          <a href="#" class="thumbnail">
                            <img src="../../../assets/DummySc1.jpg" alt="...">
                          </a>
                        </div>

                        <div class="col-xs-6 col-md-3">
                          <a href="#" class="thumbnail">
                            <img src="../../../assets/DummySc1.jpg" alt="...">
                          </a>
                        </div>

                    </div>


                </div>
                <div class="col-xs-6">
                        <div style="width:100%;height:150px;margin-top:3%">
        
                                <span style="    font-size: 40px;
                                margin-left: 2%;
                                margin-top: 6%;"class="glyphicon glyphicon-user">
                                
                             
                        </span>

                        <!-- Left Section -->
        
                        <div style="display: inline;
                        margin-left: 5%;
                        margin-top: 16px;
                        position: absolute;
                        font-size: 25px;">Admin
                        <br/>
                        <p>Software Engineer</p>
                        </div>
                        
                        <br>
                        <br>
                        <br>
        
                
                </div>
                    <mat-divider></mat-divider><br>
                    <span style="color:#C0C0C0;position:relative;
                    bottom: 4px;">You and 23 liked this post</span>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <span style="margin-bottom: 19px;
    color: #C0C0C0;
    position: relative;
    top: -2px;"class="glyphicon glyphicon-download-alt"></span>


    <span style="color:#C0C0C0;position:relative;
    bottom: 4px;">18 people downloaded</span>


<button style="    margin-left: 15%;
padding-top: -1%;
top: -9px;
position: relative;"_ngcontent-mgb-c21="" color="primary" mat-raised-button="" class="mat-raised-button mat-button-base mat-primary"><span class="mat-button-wrapper">Like</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button>
                    <mat-divider></mat-divider>

<p style="margin-top: 3%;font-family:'Helvetica';font-size: 16px;
font-weight: bold;">Repository Link</p>

<a>http://github.com/EYInvvovations/Model-12334433343545435/1/assets</a>


<p style="margin-top: 3%;font-family:'Helvetica';font-size: 16px;
font-weight: bold;">Tags</p>
<br>

<span class="glyphicon glyphicon-calendar" style="color:#C0C0C0;position:relative;
bottom: 4px;font-size: 35px;"></span>

<span style="position: relative;
    bottom: 20px;margin-left:1%;color:#C0C0C0">Created On</span>

<span style="    margin-left: -70px;color:#C0C0C0">2019-08-14</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<span class="glyphicon glyphicon-calendar" style="color:#C0C0C0;position:relative;
bottom: 4px;font-size: 35px;"></span>

<span style="position: relative;
    bottom: 20px;margin-left:1%;color:#C0C0C0">Updated On</span>

<span style="    margin-left: -70px;color:#C0C0C0">2019-09-14</span>

<br>
<br>
<mat-divider></mat-divider>

<br>


<button style="color:#C0C0C0"_ngcontent-mgb-c21="" mat-raised-button="" class="mat-raised-button mat-button-base"><span class="mat-button-wrapper"><span class="glyphicon glyphicon-download-alt"></span>Sample Input</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button>


<button style="color:#C0C0C0;margin-left:13%" _ngcontent-mgb-c21="" mat-raised-button="" class="mat-raised-button mat-button-base"><span class="mat-button-wrapper"><span class="glyphicon glyphicon-download-alt"></span>Sample Output</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button>


<button style="color:#C0C0C0;margin-left:13%" _ngcontent-mgb-c21="" mat-raised-button="" class="mat-raised-button mat-button-base"><span class="mat-button-wrapper"><span class="glyphicon glyphicon-download-alt"></span>Documentation</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button>

<br>

<button style="margin-top:2%;width:84%"_ngcontent-mgb-c21="" color="primary" mat-raised-button="" class="mat-raised-button mat-button-base mat-primary"><span class="mat-button-wrapper">Redeploy</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button>

<br>

<p style="margin-top: 3%;font-family:'Helvetica';font-size: 16px;
font-weight: bold;">API Details</p>

<mat-card>syngmoid-model-5343361437363.thinkstack.com</mat-card>

<br>
<p style="margin-top: 3%;font-family:'Helvetica';font-size: 16px;
font-weight: bold;">API Keys</p>
<mat-card>0adfg4-gfnd78d-rtsvsbbs-dsshtrdvd</mat-card>
                </div>
              </div>
        </mat-drawer-content>

    </mat-drawer-container>


</div>