<div>

    <div>
        <app-header></app-header>
    </div>
    <!-- Header Ends here -->


    <mat-drawer-container>


        <!-- Side Nav -->
        <mat-drawer style="margin-right:5% !important;" mode="side" position="end" opened>
            <div >
                <app-navbar></app-navbar>
            </div>
        </mat-drawer>
        <!-- Side Nav Ends -->

        <!-- Dashboard Main Content -->
        <mat-drawer-content class = "m5" style="overflow:hidden;">


            <div class="pl2 pt2">
                <div >
                    <span  class="item-heading">Capabilities</span>                
                    <span matTooltip="Info about the header" matTooltipPosition="right" style="opacity: .5" class="item-number" >
                        &nbsp;<i class="material-icons info-icon-tooltip">info_outline</i>
                    </span>
                    <span  class="item-heading">&nbsp;-&nbsp;</span>
                    <span  >Number</span>
                </div>

                <section class="card1" *ngIf="Capabilities != []">
                    <div class="card--content" *ngFor="let  header of Capabilities; let i=index;">
                        <app-box [Header]= "header" [Status]="'Active'" [Data]="data[i]" [image]="images[i]" [title]="titles[i]" [urls]="urls[i]" [Theme]="'Blue'">
                        </app-box>
                    </div>
                </section>

                

                <div >
                    <span  class="item-heading">Use cases</span>                
                    <span matTooltip="Info about the header" matTooltipPosition="right" style="opacity: .5" class="item-number" >
                        &nbsp;<i class="material-icons info-icon-tooltip">info_outline</i>
                    </span>
                    <span  class="item-heading">&nbsp;-&nbsp;</span>
                    <span  >Number</span>
                </div>
                <section class="card1" *ngIf="Usecases != []">
                    <div class="card--content" *ngFor="let  header of Usecases; let i=index;">
                        <app-box [Header]= "header" [Status]="'Active'" [Data]="data[i]" [image]="images[i]" [title]="titles[i]" [urls]="urls[i]" [Theme]="'Green'">
                        </app-box>
                    </div>
                </section>


                <div >
                    <span  class="item-heading">AI Assets</span>                
                    <span matTooltip="Info about the header" matTooltipPosition="right" style="opacity: .5" class="item-number" >
                        &nbsp;<i class="material-icons info-icon-tooltip">info_outline</i>
                    </span>
                    <span  class="item-heading">&nbsp;-&nbsp;</span>
                    <span  >Number</span>
                </div>
                <section class="card1" *ngIf="AI_Assets != []">
                    <div class="card--content" *ngFor="let  header of AI_Assets; let i=index;">
                        <app-box [Header]= "header" [Status]="'Active'" [Data]="data[i]" [image]="images[i]" [title]="titles[i]" [urls]="urls[i]" [Theme]="'Blue'" >
                        </app-box>
                    </div>
                </section>








            </div>


            <!-- <button [routerLink] = "['/home']" style = "float:right;position:fixed;bottom:2%;right:2%;background-color: rgb(255,230,0);color:black;border:1px solid black" _ngcontent-vqc-c21="" mat-fab="" class="mat-fab mat-accent">
            <span style="color:black;font-size:22px"class="glyphicon glyphicon-home"></span>
            <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
        </button> -->
        </mat-drawer-content>

        <!-- Dashboard Main Content -->





    </mat-drawer-container>

</div>