/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.pv1{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.pv2{
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.pv3{
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.ph1{
    padding-left: 1rem;
    padding-right: 1rem
}

.pr1{
    padding-right: 1rem
}

.pr4{
    padding-right: 4rem
}

.pl2{
    padding-left: 2rem
}


.pt1{
    padding-top: 1rem
}
.pt2{
    padding-top: 2rem
}




.mv1{
    margin-bottom: 1rem;
    margin-top: 1rem
}

.mh1{
    margin-left: 1rem;
    margin-right: 1rem
}

body{
    zoom:85%
}

.w-100 {
    width: 100%
}

.w-80 {
    width: 80%
}


.w-75 {
    width: 75%
}


.w-50 {
    width: 50%
}


.w-100 {
    width: 100%
}
