<div style="overflow-x:hidden;background-color: ">
    <nav  class="navbar navbar-default navbar-static-top" style="margin-bottom:-1%;width:100%" >
        <div  class="container">
            <div   class="row" style="padding:3.5%">
                <img src="../../assets/whiteAsset -1.png" style="display: inline;
                width: 4%;
                position: absolute;
                top: 2%;
                left: 1%;"/>
                <h3 style="    display: inline;
                font-family: Arial, Helvetica, sans-serif;
                /* margin-left: 2%; */
                font-size: 164%;
                top: 8%;
                left: 7%;
                position: absolute;"><b>Employee Helpdesk</b></h3>
            </div>
        </div>

    
    </nav>

    <mat-video src="../../assets/Employee helpdesk and KPI video.mp4" autoplay = "true" ></mat-video>


    <button [routerLink] = "['/dashboard']" style = "float:right;position:fixed;bottom:2%;right:2%;background-color: rgb(255,230,0);color:black;border:1px solid black" _ngcontent-vqc-c21="" mat-fab="" class="mat-fab mat-accent">
        <span style="color:black;font-size:22px"class="glyphicon glyphicon-step-backward"></span>
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
    </button> 
    

    </div>
